.password-form {
    display: flex;
    flex-direction: column;
}

.password-form>label {
    margin-top: 1rem;
}

.password-form>input {
    border: 1px solid lightgray;
    border-radius: 0.25rem;
    padding: 0.5rem;
    margin-top: 0.25rem;
}
